<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" href="../source/css/main.css">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="main.html">DaniSharing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="Members.html">Members</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="Cars.html">Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Reservations.html">Registration</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Search Input Field -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <input type="text" id="searchInput" placeholder="Search" class="form-control">
        </div>
    </div>
</div>
<br>
<br>


<!--Table-->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <table id="cars-table" class="table table-striped bg-white rounded">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Price per Day</th>
                    <th scope="col">Best Discount</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="cars-table-body">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Button to add New Member-->
<button type="button" class="btn btn-primary btn-lg btn-block mx-auto my-5" style="width: 200px;"
        id="create-new-car" onclick="createNewCar()">Add a New Car
</button>

<!-- Modal -->
<div class="modal fade" id="edit-car-modal" tabindex="-1" role="dialog" aria-labelledby="editCarModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Modal header will be updated based on context -->
                <h5 class="modal-title" id="editCarModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form to edit car -->
                <form id=""modal-form>
                    <div class="form-group d-none">
                        <label for="id">Id</label>
                        <input type="number" class="form-control" id="id">
                    </div>
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" id="brand" placeholder="Enter brand" >
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" placeholder="Enter model" >
                    </div>
                    <div class="form-group">
                        <label for="pricePerDay">Price per Day</label>
                        <input type="number" class="form-control" id="pricePerDay" placeholder="Enter price per day" >
                    </div>
                    <div class="form-group">
                        <label for="bestDiscount">Best Discount</label>
                        <input type="number" class="form-control" id="bestDiscount" placeholder="Enter best discount" >
                    </div>
                    <div class="modal-footer" id="modal-footer">
                        <!-- Modal footer will be updated based on context -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.reload()">Close</button>
                        <button type="button" class="btn btn-primary" id="modal-create-button" onclick="submitCar('Create')">Create</button>
                        <button type="button" class="btn btn-primary" id="modal-edit-button" onclick="submitCar('edit')">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../source/JavaScript/Cars.js"></script>
</body>
</html>